@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');

* {
    margin: 0;
}

header {
    width: 100%;
    height: 100px;
    background-color: #A3D0C3;
}

.nav-container {
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 0;
}

.logo {
    font-size: 40px;
    font-weight: 700;
    text-decoration: none;
    color: white;
    font-family: Kdam Thmor Pro;
    margin-top: -23px;
}

.nav {
    background-color: antiquewhite;
    width: 170px;
    height: 9px;
    font-size: 20px;
    font-weight: 500;
    text-decoration: none;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    border: 1px solid black;
    list-style: none;
    display: flex;
    gap: 27px;
    text-decoration: none;
    margin-right: -80px;
    background-color: #F9F0DA;
    padding: 16px 28px;
    color: black;
    font-size: 20px;
    font-weight: 700;
    font-family: 'Jost', sans-serif;
    text-decoration: none;
    transition: background-color 0.3s linear;
}

.nav:hover {
    background-color: #fff;
    color: black;
}

input {
    margin-top: 30px;
    background-color: grey;
    width: 300px;
    height: 30px;
    border-radius: 5px;
    color: #fff;
}

input::placeholder {
    color: #fff;
}

body {
    background-image: url(/img/fon.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}

form {
    height: 400px;
    width: 400px;
    background-color: #ffffff;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    font-family: "Anonymous Pro", sans-serif;
    box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
    padding: 50px 35px;
    font-size: 32px;
    font-weight: 500;
    text-align: center;
    border-radius: 10px;
}
button {
    border-radius: 10px;
    color: antiquewhite;
    background-color: gray;
    font-size: 18px;
    margin-top: 20px;
}
p {
    color: black;
    font-size: 18px;
    margin-top: 10px;
}
p a {
    text-decoration: none;
    color: red;
}